{{define "title"}}
    Gogo Blog
{{end}}

{{define "main"}}
    <div class="col-md-9 blog-main">
        <h1>Gogo Blog - Hello World</h1>
        <div class="col-md-2">
            <button class="btn btn-dark" onclick="javascript:window.location.href={{RouteName2URL "articles.index"}}">Articles</button>
        </div>
    </div>
{{end}}