{{define "title"}}
    Gogo Blog - Login
{{end}}

{{define "main"}}
    <div class="blog-post bg-white p-5 rounded shadow mb-4 col-md-8">

        <h3 class="mb-5 text-center">用户信息</h3>



        </form>
        <div class="mb-3">
            <a href="/" class="text-sm text-muted"><small>返回首页</small></a>
        </div>

    </div>



{{end}}